<a href="https://colab.research.google.com/github/HectorGtz27/Data-Science-Project/blob/main/Fase2_Entendimiento_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
datos_consumo = pd.read_excel("Comidas.xlsx")

In [ ]:
datos_consumo.head()

,Fecha (dd/mm/aa),Momento,Nombre alimento,Calorías (kcal),Carbohidratos (g),Lípidos/grasas (g),Proteína (g),Sodio (mg),Fuente
0,2022-08-17,Desayuno,Huevo con tortilla,303,23.0,17.0,16.0,233,MyFitnessPal
1,2022-08-17,Comida,Pollo asado,422,2.0,19.0,60.0,2,MyFitnessPal
2,2022-08-17,Cena,Quesadillas con frijoles,572,51.0,29.0,29.0,702,MyFitnessPal
3,2022-08-17,Snack,Nito,252,37.0,10.0,3.0,10,MyFitnessPal
4,2022-08-17,Snack,5 Picafresas,100,25.0,0.0,0.0,225,MyFitnessPal

In [ ]:
datos_consumo.shape

(286, 9)

In [ ]:
datos_consumo.columns

Index(['Fecha (dd/mm/aa)', 'Momento', 'Nombre alimento', 'Calorías (kcal)',
       'Carbohidratos (g)', 'Lípidos/grasas (g)', 'Proteína (g)', 'Sodio (mg)',
       'Fuente'],
      dtype='object')

In [ ]:
datos_consumo.dtypes

Fecha (dd/mm/aa)      datetime64[ns]
Momento                       object
Nombre alimento               object
Calorías (kcal)                int64
Carbohidratos (g)            float64
Lípidos/grasas (g)           float64
Proteína (g)                 float64
Sodio (mg)                     int64
Fuente                        object
dtype: object

In [ ]:
datos_consumo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fecha (dd/mm/aa)    286 non-null    datetime64[ns]
 1   Momento             286 non-null    object
 2   Nombre alimento     286 non-null    object
 3   Calorías (kcal)     286 non-null    int64
 4   Carbohidratos (g)   286 non-null    float64
 5   Lípidos/grasas (g)  286 non-null    float64
 6   Proteína (g)        286 non-null    float64
 7   Sodio (mg)          286 non-null    int64
 8   Fuente              286 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 20.2+ KB

In [ ]:
datos_consumo.describe()

,Calorías (kcal),Carbohidratos (g),Lípidos/grasas (g),Proteína (g),Sodio (mg)
count,286.000000,286.000000,286.000000,286.000000,286.000000
mean,326.751748,32.197552,15.215035,16.765385,490.541958
std,213.223047,25.601373,12.074111,15.193626,482.242732
min,40.000000,0.000000,0.000000,0.000000,0.000000
25%,140.000000,16.000000,7.000000,2.000000,180.000000
50%,287.000000,25.000000,13.000000,12.000000,320.000000
75%,437.000000,48.000000,19.000000,29.750000,702.000000
max,1061.000000,115.000000,68.000000,65.000000,3110.000000